# npm
node_modules
# next.js build files
.next
# environment variables
.env
.env.*
!.env.example

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
