@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "satoshi";
    src: url("/fonts/Satoshi.woff2") format("woff2");
  }
  
  body {
    font-family: "satoshi", sans-serif;
  }
  

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}